


{% extends 'base_backoffice.html.twig' %}
{% block body %}
    <section id="body">
    <h1>Back office</h1>
        <section class=" bo_edit">
            <h2>{{ title }}</h2>
            {{ form_start(editform) }}
            {{ form_end(editform) }}
        </section>
    </section>
<script>


</script>
{% endblock %}