


{% extends 'base_backoffice.html.twig' %}
{% block body %}
    <section id="body">
        <h1>Back office</h1>
        <section class=" bo_edit">
            <h2>{{ title }}</h2>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </section>
    </section>
    <script>


    </script>
{% endblock %}