/**
IMPORTS
*/
@import url('font/Roboto/Roboto-Light.ttf');
@import url('font/Tomorrow/Tomorrow-Light.ttf');
/*@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/**@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/**  */
*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: 'Tomorrow','Roboto', sans-serif;
    color: #DFDFDF;
}
#contactmebtn{
    padding: 20px;
    font-size: 30px;
    color: #DFDFDF;
    border: 0.3px solid #DFDFDF;
    margin-top: 50px;
}
#contactmebtn:hover{
    border: 0.5px solid black;
    background-color:#DFDFDF;
    color: RGB(0,0,0);
    cursor: pointer;
}
html{

    background-color: #0b090a;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
flex-direction: column;
    align-items: center;}

h1{
    font-size: 70px;
    padding-bottom: 30px;
    text-transform: uppercase;
    margin-top: 50px;
}

#body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    width: 40%;
    height: 100%;
}
#nav{
    width: 100%;
    height: 50px;
    position: fixed;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    background-color: #0b090a;
}

li > a > img{
    width: 15px;
    height: 15px;
}
a{
    text-decoration: none;
}

.trait{
    border-bottom: azure solid 1px;
    width: 85%;
    margin: 50px;

}
nav ul, a{
    font-size: 12px;
}
nav ul li a:hover{
    color: grey;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;

}
.menu:hover{
    background-color: RGB(42,42,42,0.3);
}

/*  SECTION ABOUT*/

#about{
    height: 960px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;


}

#about article{
    display: flex;
    flex-direction: row;

}
#about article p{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about article img{
    width: 175px;
    height: 250px;
}

/**/

#skills{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#skills article{
   width: 100%;
    height: 60%;
    margin-top: 30px;
}

#skills article ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#skills article ul li{
    margin-bottom:45px ;
    display: flex;
    align-items: center;
}
#skills .ratioSkill div{
    margin-left: 30px;
    padding: 3px;
    border: 1px solid #f0efeb;
}

.ratioSkill p{
    margin-left: 10px;
}


#admin {
    margin: 0.5%;
}
/********/
#projects{
    height: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#projects img, .bo_sections img{
    width: 250px;
    height: 300px;
    margin: 30px;
    border: 1px solid #f0efeb;
    border-radius: 1px;
}

#quicksearch{
    padding: 3px;
    color: black;
}
#projects article{
    width: 100%;
    height: 100%;
}
#projects > ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;


}
.ulpro{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#projects > ul > li{
    padding-right: 20px;

}

/***                              */

#blog{

    height:auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
#blog img{
    width: 250px;
    height: 300px;
    margin: 30px;
    border: 1px solid #f0efeb;
    border-radius: 3px;
}
.cards_pro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blog > article{
    width: 80%;
}
#blog article article{
    display: flex;
    align-items: center;

    margin-bottom: 50px;

}
#blog article article p {
    text-align: justify;
}
#blog article article p,#blog h3{

    margin: 30px;


}
#blog h3{
    font-size: 25px;
}
#blog #showmoreblog img{
    border: none;
    width: 40px;
    height: 40px;
    margin: 10px;

}

#contact{

    height: 800px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
form{
    width: 450px;
    font-size: 16px;
    background: #0b090a;
    padding: 30px 30px 15px 30px;
    border: 5px solid #f0efeb;
}
form button[type=submit],
form input[type=button],
form input[type=text],
form input[type=email],
form textarea,
form label
{
    font-family: Tomorrow, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
form label {
    display:block;
    margin-bottom: 10px;
}
form label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
form input[type=text],
form input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #f0efeb;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
form textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #f0efeb;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

form textarea:focus,
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=email] :focus
{
    border-bottom: 1px dashed #0b090a;
}

form button[type=submit],
form input[type=button]{
    background: #0b090a;
    border: 1px solid #f0efeb;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #f0efeb;
}
form button[type=submit]:hover,
form input[type=button]:hover{
    background: #f0efeb;
    color: #0b090a;
}
footer{
    width: 100%;
    height: 160px;
    background-color:#0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imgRs img{
    width: 50px;
    height: 50px;
}
.imgRs img:hover{
    opacity: 0.5;
}
.ativeButton{
    color:#0b090a;
    background-color: #f0efeb;
    border: 1px solid #f0efeb;
    padding: 3px;
   }

.unativeButton{
    color:#f0efeb;
    background-color: #0b090a;
    border: 1px solid #f0efeb;
    padding: 3px;
}
.bo_sections{
    width: 70%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.bo_sections article a {
    width: 10%;
}

.bo_sections h2{
    font-family: 'Tomorrow', 'Roboto', sans-serif;
    width: 100%;
    padding: 0.5%;
    background-color: #14213d;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.bo_sections article{
    padding: 0.5%;
    width: 100%;
    height: 20%;
    background: #f0efeb;
}



