/**
IMPORTS
*/
@font-face {
    font-family: 'tomorrow';
    src: url('../front/font/Tomorrow/Tomorrow-Regular.ttf')  format('truetype');
}
/* @import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/**  */
*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: 'tomorrow','Roboto', sans-serif;
    color: #264653;
}
a{
    text-decoration: none;
}
html{
    background: #E2E1E0;
}
h1,  label, input{
    color: #264653;
}
table{
    border: none;
    margin-bottom: 0.5%;
}
#btnDc{
    text-decoration: none;
    margin-bottom: 5%;
    padding: 1%;
    border: 1px solid #8a8a8a;
}
#btnDc:hover{
    background-color:  #264653;
    color: white;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;}

h1{
    font-size: 70px;
    padding-bottom: 30px;
    text-transform: uppercase;
    margin-top: 50px;
}

#body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    width: 40%;
    height: 100%;

}
#nav{
    width: 100%;
    height: 5px;
    position: fixed;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    background-color: RGB(0,0,0,0.9);
}

.bo_sections{
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-top-left-radius:10px;


}

.bo_sections article a {
    width: 10%;
}

h2{
    font-family: 'Tomorrow', 'Roboto', sans-serif;
    width: 100%;
    padding: 0.5%;
    background-color: #264653;
    display: flex;
    color: #E2E1E0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius:10px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article, form{
    padding: 0.5%;
    width: 100%;
    height: 20%;
    background: white;
}

article table{
    width: 100%;
    height: 100%;
}

 td, th{
    padding: 1%;

}
 table tr:nth-child(even){
     background-color: #f2f2f2;
 }

 th{
     padding: 1.5%;
     background: #2a9d8f;
     color: white;
     text-align: left;
 }

 #dot{
     font-size: 80px;

 }

 .editBtn img, .delBtn img, .delBtn{
     width: 15px;
     height: 15px;
     border:none;

 }

 .text_blog{
     width: 40%;
     height: 5%;
     overflow: hidden;
     text-overflow: unset;
 }
.backoffice_edit_h2{
    padding-right: 5%;
    padding-left: 5%;
}
.bo_edit{
    width: 40%;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;


}
#skills_buttons{
    width: 50%;
    margin-left: 1%;
    display: flex;
}
.backoffice_edit_div_buttons a{
    margin-top: 2%;
    border: none;
}
.backoffice_edit_div_buttons button{
    margin-right: 2%;
    margin-top: 2%;
    padding: 0.5%;
}
.backoffice_edit_skills_buttons, .backoffice_edit_div_buttons button{
    border: #264653;
    margin: 1%;
    width: 20%;
    height: 33%;
    background-color:  #264653;
    color:  #E2E1E0;
    border-radius: 3px;

}
.backoffice_edit_div_buttons a{
    border: none;
    color: #E2E1E0;
}
.backoffice_edit_div_buttons a:hover{
    color:  #264653;
}
.backoffice_edit_skills_buttons:hover, .backoffice_edit_div_buttons button:hover{
    background-color:#E2E1E0 ;
    color:  #264653;
    border: 1px solid  #264653;
}


.backoffice_edit_div_skills, .backoffice_edit_div_name, .backoffice_edit_div_text, .backoffice_edit_div_title, .backoffice_edit_div_date{
    display: flex;
    align-items: center;
}

.backoffice_edit_div_login label{
    margin-right: 15%;
}
.backoffice_edit_div_password label{
    margin-right: 7%;
}
.backoffice_edit_div_date label{
    margin-right: 4.5%;
}
.backoffice_edit_div_date select{
    width: 30%;
}
.backoffice_edit_div_image label{
    margin-right: 7%;
}
.backoffice_edit_div_name label{
    margin-right: 7.5%;
}
.backoffice_edit_div_skills label{
    margin-right: 5%;
}

.backoffice_edit_div_title label{
    margin-right: 5%;
}
.backoffice_edit_div_text textarea{
    color: #264653;
    padding: 0.5%;
    width: 50%;
    height: 100px;
}
.backoffice_edit_div_text label{
    margin-right: 5%;
}
.backoffice_edit_div_image {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}
.backoffice_edit_div_skills select, .backoffice_edit_div_name input{
    width: 20%;
    margin-bottom: 1%;
}

.bo_edit form{

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#project{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:  #264653;
}

input[type=text], select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#add_skill{
    width: 5%;
}
#skill_submit{
   margin-left: 35%;
}
#skill_submit {
    background-color:  #264653;
    color: #E2E1E0;
    border: transparent;
    padding: 5%;
    border-radius: 3px;
}
#skill_submit:hover{

    border: solid 1px #264653;
    background-color:  #E2E1E0;
    color: #264653;
}
.backoffice_index_img{
    width: 50%;
}
.backoffice_index_td_img{
    width: 20%;
}
#skill_submit button{
    border: 1px solid  #264653;
    padding: 8%;
    border-radius: 3px;
    background-color: #E2E1E0;
    color: #264653;
}

#rangeTd{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
#rangeTd p, .divEditForm p{
    color:  #264653;
}

.divEditForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2%;
}
.divEditForm input{
    width: 80%;

}
#checkboxEdit{
    margin: 2%;
}
#checkboxEdit label{
    margin-right: 2%;
}


.backoffice_index_button_new{
    text-decoration: none;
    padding: 0.5%;
    background-color: #264653;
    color: #E2E1E0;
   text-align: center;
    border-radius: 3px;
}

.backoffice_index_button_new:hover{
    background-color:#E2E1E0 ;
    color: #264653;
}
.login{
    width: 20%;

}
.login h2{
    border-top-right-radius: 10px;
}
.backoffice_edit_div_login input, .backoffice_edit_div_password input{

    width: 50%;
}
#login_eroor{
    margin-left: 30%;
    color: red;
    font-size: 12px;
}
#blog_date{
    width: 80%;

}
#blog_date_month{
    width: 20%;
    margin-right: 1%;
}
#blog_date_year{
    width: 18%;
}
#blog_date_day{
    width: 12%;
    margin-right: 1%;
}
