<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{ asset('css/img/edit.png') }}"/>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link  rel="stylesheet"  href="{{ asset('css/backoffice/style.css') }}"/>
            <title>Backoffice</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/backoffice/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
